<div id="<%= dom_id auth_rule %>">


  <p>
    <strong>Ua:</strong>
    <%= auth_rule.ua %>
  </p>

  <p>
    <strong>Uav:</strong>
    <%= auth_rule.uav %>
  </p>

  <p>
    <strong>Da:</strong>
    <%= auth_rule.da %>
  </p>

  <p>
    <strong>Dav:</strong>
    <%= auth_rule.dav %>
  </p>

  <p>
    <strong>Oa:</strong>
    <%= auth_rule.oa %>
  </p>

  <p>
    <strong>Oav:</strong>
    <%= auth_rule.oav %>
  </p>

  <p>
    <strong>Esa:</strong>
    <%= auth_rule.esa %>
  </p>

  <p>
    <strong>Esav:</strong>
    <%= auth_rule.esav %>
  </p>

</div>
